body { 
                color: #555555;
                background-color: #f4f4f4f4;
                font-family: Verdana, Geneva, sans-serif;
                font-size: 14px;   
                position: left;             
} 
.soft-border{ 
        border: 5px solid #e7e7e7;
        margin: 20px;
        padding: 10;
}
img {
        display: block;
        margin-left: auto;
        margin-right: auto;
}
h1 { 
               font-variant: small-caps;
               font-size: 40px;
               text-align: center;
}

h3 { 
        font-variant: small-caps;
        font-size: 22px;
        text-align: center;
}

h2 { 
        font-variant: small-caps;
        font-size: 22px;
        text-align: center;
}

.list1 {font-family: Verdana, Geneva, sans-serif;
        font-size: 14px; 
        text-align: left;
        list-style-type: none;
        margin: 4px;
        padding: 15px;
        border-style: solid;
        border-color: #e7e7e7;
        border-width: 4px;
        width: 275px;
        height: 75px;
        margin-left: auto;
        margin-right: auto;

}
.list2 {font-family: Verdana, Geneva, sans-serif;
        font-size: 14px; 
        text-align: left;
        list-style-type: none;
        margin: 4px;
        padding: 15px;
        border-style: solid;
        border-color: #e7e7e7;
        border-width: 4px;
        width: 100px;
        height: 75px;
        margin-left: auto;
        margin-right: auto;

}
hr {
        border-style: solid;
        border-color: #e7e7e7;
        border-width: 3px;
        width: 1300px;
        position: center;
        left: 3px; 
        margin-left: auto;
        margin-right: auto;
}

/* unvisited link */
a:link {
        color: #A9A9A9;
      }
      
      /* visited link */
      a:visited {
        color: #A9A9A9;
      }
      
      /* mouse over link */
      a:hover {
        color: #8A2BE2;
      }
      
      /* selected link */
      a:active {
        color: #9370DB;
}
.container {
        width:  50%;
        margin: center;      
}
.box-1 {
        background-color: #e0dfdff4;
        margin-left: auto;
        margin-right: auto;
    
              
}
.container2 {

        margin: center;      
}
.box-2 {
        box-sizing: border-box;
        background-color: rgb(61, 61, 61);
        padding: 1px;
        margin-left: auto;
        margin-right: auto;
       
}

.box-3 {
        background-color: #f4f4f4f4;
        margin-left: auto;
        margin-right: auto;
    

              
}
ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        
}

li {
        float: left;
      }
       
      
li a {
        display: block;
        text-align: left;
        padding: 1px 15px;
        text-decoration: none;
      }
li a:hover:not(.active) {
        background-color: rgb(46, 45, 45);
        margin-left: auto;
        margin-right: auto;

      }
footer {
        text-align: center;
}

/* media queries */

@media (max-with: 600px){
        p{ 
                font-size: 1.25rem;
        }
}
@media (max-with: 800px){
        p{ 
                font-size: 1.5rem;
                line-height: 1.5;
        }
}

@media screen and (max-with: 800px){
        #featured image{ 
                width: 36%;
                }
}
