body { 
                color: #555555;
                background-color: #f4f4f4f4;
                font-family: Verdana, Geneva, sans-serif;
                font-size: 14px;               
} 

h1 { 
               font-variant: small-caps;
               font-size: 40px;
}

h3 { 
        font-variant: small-caps;
        font-size: 22px;
}

h2 { 
        font-variant: small-caps;
        font-size: 22px;
}

.list1 {font-family: Verdana, Geneva, sans-serif;
        font-size: 14px; 
        text-align: left;
        list-style-type: none;
        margin: 4px;
        padding: 15px;
        border-style: solid;
        border-color: #e7e7e7;
        border-width: 4px;
        width: 275px;
        height: 75px;

}
.list2 {font-family: Verdana, Geneva, sans-serif;
        font-size: 14px; 
        text-align: left;
        list-style-type: none;
        margin: 4px;
        padding: 15px;
        border-style: solid;
        border-color: #e7e7e7;
        border-width: 4px;
        width: 100px;
        height: 75px;

}
hr {
        border-style: solid;
        border-color: #e7e7e7;
        border-width: 3px;
        width: 1000px;
        position: absolute;
        left: 3px; 
        margin: auto;   
}

/* unvisited link */
a:link {
        color: #A9A9A9;
      }
      
      /* visited link */
      a:visited {
        color: #A9A9A9;
      }
      
      /* mouse over link */
      a:hover {
        color: #8A2BE2;
      }
      
      /* selected link */
      a:active {
        color: #9370DB;
}
.container {
        width:  52%;
        margin: left;
}
.box-1 {
        background-color: #e0dfdff4;
        
}
.container2 {
        width:  99%;
        margin: left;
}
.box-2 {
        background-color: rgb(61, 61, 61);
}
ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        
}

li {
        float: left;
      }
       
      
li a {
        display: block;
        text-align: center;
        padding: 1px 15px;
        text-decoration: none;
      }
li a:hover:not(.active) {
        background-color: rgb(46, 45, 45);
      }
      
